@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>備品管理Lite</h1>
    <p class="lead">社内の備品管理を簡単に行える最小限のシステム構成をパッケージ化しました。<br />
    ASP.net MVC5を利用しているのでレイアウトはBootStrapで自由に変更できます。</p>
    自由に配布、改変可能</p>
    最新のバージョンはGitHubで
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">GitHub &raquo;</a></p>
</div>
