@model IEnumerable<OfficeEquipmentControl.Models.V_備品管理_MAX>

@{
    ViewBag.Title = "借りている備品一覧";
}

<h2>借りている備品一覧 <small>My Item</small></h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.品名)
        </th>
        <th>
            借りた日
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.品名)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.貸出返却日)
        </td>
        <td>
            @Html.ActionLink("詳細", "ItemDetails", new { id=item.備品ID }, new {@class = "btn btn-info" })
        </td>
    </tr>
}

</table>
