USE [OfficeEquipmentControl]
GO
DROP TABLE [dbo].[T_状態]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_状態](
	[状態ID] [int] NOT NULL,
	[状態] [nvarchar](50) NOT NULL,
	[TS] [timestamp] NOT NULL,
	[更新日] [datetime] NOT NULL,
	[更新者] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_T_状態] PRIMARY KEY CLUSTERED 
(
	[状態ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]

GO
